<launch>
    <!-- Assume your URDF file is directly located at the specified path -->
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type: [ti5]"/>

    <param name="legged_robot_description" textfile="$(find legged_ti5_description)/urdf/ti5.urdf"/>

    <node name="generate_urdf" pkg="legged_common" type="generate_urdf.sh" output="screen"
          args="$(find legged_ti5_description)/urdf/ti5.urdf $(arg robot_type)"/>

    <rosparam file="$(find legged_gazebo)/config/default.yaml" command="load"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="debug" default="true"/> -->
        <arg name="world_name" value="$(find legged_gazebo)/worlds/empty_world.world"/>
    </include>

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
          args="-z 1.05 -param legged_robot_description -urdf -model ti5" output="screen"/>

</launch>
